n8n-workflow.json
{
  "name": "Google Sheets to Sales Dashboard",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "event": "rowAdded"
      },
      "id": "google-sheets-trigger",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Transform Google Sheets data to match API format\nconst row = $input.item.json;\n\n// Map your Google Sheets columns to the API fields\n// Adjust these field names to match your actual column headers\nconst saleData = {\n  amount: parseFloat(row['Amount'] || row['amount'] || row['Price'] || row['price'] || 0),\n  product: row['Product'] || row['product'] || row['Item'] || row['item'] || 'Unknown Product',\n  customer: row['Customer'] || row['customer'] || row['Name'] || row['name'] || null,\n  status: (row['Status'] || row['status'] || 'pending').toLowerCase(),\n  date: row['Date'] || row['date'] || new Date().toISOString(),\n  notes: row['Notes'] || row['notes'] || row['Description'] || row['description'] || null,\n  source: 'google_sheets'\n};\n\n// Validate status\nconst validStatuses = ['paid', 'pending', 'refunded'];\nif (!validStatuses.includes(saleData.status)) {\n  saleData.status = 'pending';\n}\n\n// Parse date if it's a string\nif (typeof saleData.date === 'string' && saleData.date) {\n  try {\n    const parsedDate = new Date(saleData.date);\n    if (!isNaN(parsedDate.getTime())) {\n      saleData.date = parsedDate.toISOString();\n    } else {\n      saleData.date = new Date().toISOString();\n    }\n  } catch (e) {\n    saleData.date = new Date().toISOString();\n  }\n}\n\n// Validate amount\nif (isNaN(saleData.amount) || saleData.amount < 0) {\n  throw new Error('Invalid amount: ' + row['Amount']);\n}\n\nreturn { json: saleData };"
      },
      "id": "transform-data",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DASHBOARD_API_URL }}/api/sales",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-request-sales",
      "name": "Create Sale in Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_HTTP_AUTH_CREDENTIAL_ID",
          "name": "Dashboard API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.body.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Log successful creation\nconst response = $input.item.json;\n\nreturn {\n  json: {\n    status: 'success',\n    message: 'Sale created successfully',\n    saleId: response.body?.data?.id,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "success-handler",
      "name": "Success Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Handle errors\nconst response = $input.item.json;\nconst errorMessage = response.body?.error || 'Unknown error occurred';\nconst statusCode = response.statusCode || 500;\n\n// Check if it's a duplicate (409 status)\nif (statusCode === 409) {\n  return {\n    json: {\n      status: 'skipped',\n      message: 'Duplicate sale - already exists',\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// For other errors, throw to trigger error workflow\nthrow new Error(`API Error (${statusCode}): ${errorMessage}`);"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "jsCode": "// Transform for customer creation\nconst saleData = $input.item.json;\n\nif (!saleData.customer) {\n  return { json: { skip: true, reason: 'No customer name provided' } };\n}\n\nconst customerData = {\n  name: saleData.customer,\n  email: '',\n  phone: '',\n  address: '',\n  status: 'active'\n};\n\nreturn { json: customerData };"
      },
      "id": "prepare-customer",
      "name": "Prepare Customer Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-create-customer",
      "name": "Should Create Customer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DASHBOARD_API_URL }}/api/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-request-customer",
      "name": "Create/Update Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_HTTP_AUTH_CREDENTIAL_ID",
          "name": "Dashboard API Key"
        }
      }
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Create Sale in Dashboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sale in Dashboard": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Customer Data": {
      "main": [
        [
          {
            "node": "Should Create Customer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Create Customer?": {
      "main": [
        [
          {
            "node": "Create/Update Customer",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "Sales Dashboard",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
